body.main {
  background-color: #e5e5e5;
  margin: 0 auto;
}

header {
  background-color: #14213d;
  height: 100px;
  width: 100%;
  padding: 10px;
  margin: 0;
}

h1 {
  background-color: #14213d;
  height: 100px;
  text-align: left;
}

.carceres_main {
  background-color: #e5e5e5;
  text-align: center;
}

.nav {
  background-color: #e5e5e5;
  text-align: center;
  color: #000000;
}

.user_login {
  position: absolute;
  width: 20%;
  height: 90px;
  background-color: #e5e5e5;
  padding: 25px 0px 25px 0px;
  margin: 5px;
  border-radius: 25px;
  border: 1px solid #14213d;
  float: right;
  color: #000000;
  text-align: center;
  right: 30px;
  top: 0;
}
