body.main {
  background-color: #e5e5e5;
  margin: 0 auto;
}

header {
  background-color: #14213d;
  color: #ffffff;
  height: 100px;
  width: 100%;
  padding: 10px;
  margin: 0;
  overflow: auto;
}

h1 {
  text-align: left;
}

.carceres_main {
  background-color: #e5e5e5;
  text-align: center;
}

.container-wrapper {
  background-color: #ffffff;
  color: #000000;
  min-height: calc(100vh - 102px);
  border-top: 5px solid #e5e5e5;
  margin-left: calc(20% + 5px);
}

.container-wrapper > * {
  min-height: calc(100vh - 102px);
}

nav {
  background-color: #14213d;
  text-align: center;
  color: #ffffff;
  width: 20%;
  height: auto;
  border-top: 5px solid #e5e5e5;
  border-right: 5px solid #e5e5e5;
  text-align: left;
  float: left;
  min-height: calc(100vh - 102px);
}

nav a {
  display: block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #fff;
}

nav a:hover {
  background-color: #fca311;
  text-decoration: underline;
  width: 100%;
  color: #14213d;
  padding-left: 20px;
}

.user_login {
  position: absolute;
  width: auto;
  height: 100px;;
  padding: 0;
  margin: 0;
  color: #000000;
  text-align: center;
  right: 0px;
  top: 0;
  overflow: auto;
}

.input_forms_group {
  left: 0px;
  width: 300px;
  float: left;
  clear: right;
  text-align: left;
  padding-right: 95px;
  overflow: auto;
}

form.login_form {
  width: auto;
  height: auto;
  margin: 0px 20px 0px 20px;
}

input.login {
  float: left;
  clear: both;
  margin-top: 10px;
}

input.pass {
  float: right;
}

.login_btn {
  text-align: right;
  width: auto;
  top: 30px;
  position: absolute;
  right: 0;
  padding-right: 25px;
}

.user_notify {
  color: #e5e5e5;
  position: absolute;
  right: 120px;
  top: 35px;
  width: auto;
}

.users_list:hover {
  background-color: #fca311;
  text-decoration: underline;
  width: 100%;
  color: #14213d;
}
button.close, button.close:hover {
  color: #ffffff;
}
.new_model:hover {
  font-weight: bold;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none !important;
}

.payment-paid, .subs-paid {
  background-color: greenyellow;
}
.payment-unpaid, .subs-unpaid {
  background-color: #f77;
}

nav a.router-link-active {
  background-color: #fca311;
  text-decoration: underline;
  width: 100%;
  color: #14213d;
  padding-left: 20px;
}

.user_settings {
  width: 50%;
  float: left;
  text-align: left;
}

div.user_settings span {
  display: block;
  margin-left: 30px;
}

div.user_settings span.user_data {
  display: inline-block;
  /* padding-left: 30px; */
}

.user_password {
  width: 50%;
  float:right;
  text-align: left;
}

form.user_password input {
  display: block;
  margin-right: 30px;
  text-align: left;
}

.card_content {
  border-right: 1px dashed black;
}

.card_content h2 {
  font-weight: bold;
  width: 450px;
  margin-left: 80px;
  margin-right: 40px;
  display: inline;
  float: right;
}

.card_content h4 {
  clear: right;
  width: 600px;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
}

.card_content .logo {
  text-align: left;
  float: left;
  height: 79px;
  width: 80px;
  padding: 5px 5px 5px 5px;
  display: block;
}

.main_logo {
  text-align: left;
  float: left;
  height: 79px;
  width: 80px;
  padding: 5px 5px 5px 5px;
  display: block;
}

header h1 {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-style: italic;
}

.card_content .footer {
  bottom: 0;
}

h6.card-subtitle {
  margin-bottom: 10px;
  text-align: left;
}

.list-group-item .btn {
  margin: -7px 2px 0px 2px;
  float: right;
  display: inline-block;
}

.list-group-item {
  text-align: left;
}
